.listWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 52px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMoreBtn {
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  border: 1px solid var(--button-hover);
}

