:root {
	--main: #101828;
	--text: #475467;
	--white: #fff;
	--inputs: #f7f7f7;
	--badges: #f2f4f7;
	--gray: #6c717b;
	--gray-light: #dadde1;
	--button: #e44848;
	--button-hover: #d84343;
	--rating: #ffc531;
}



:root {
  --font-family: "Inter", sans-serif;
}

html,
body {
  font-family: "Inter",  sans-serif;
  color: #1a1a1a;
  background-color: #fff;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

* {
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}
